.CartItemPrice {
  color: #ce6c47;
  font-size: 13px;
  margin-top: 0px;
}
.CartItemQuantity {
  font-size: 13px;
}
.ButtonCol {
  align-items: center;
}
.Button {
  background-color: transparent;
  color: #ce6c47;
  border: solid 1px #ce6c47;
  padding: 0px 10px;
  font-weight: bold;
  float: right;
  margin-top: 25px;
}
.Button:hover {
  background-color: #ce6c47;
  color: white;
  border: solid 1px #ce6c47;
}
.SubtractButton {
  padding: 0px 12px;
}
.hrline {
  border: solid 1px #ce6c47;
}
