.ModalHeader {
  background-color: #5a1807;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.CartOrderBtn {
  padding: 5px 20px;
  background-color: #5a1807;
  border: #5a1807;
}
.CartOrderBtn:hover {
  background-color: #ce6c47;
  border: #ce6c47;
}
.Button:focus {
  outline: none !important;
  outline-offset: none !important;
  background-color: #ce6c47 !important;
  border-color: #ce6c47 !important;
  box-shadow: none;
}
.CartCloseBtn {
  padding: 5px 20px;
  background-color: transparent;
  color: #5a1807;
  border: solid 1px #5a1807;
}
.CartCloseBtn:hover {
  background-color: #ce6c47;
  color: white;
  border: solid 1px #ce6c47;
}
.ModalHeader button {
  background-color: #ce6c47;
  border-color: #ce6c47;
}
