.CartItem {
  background-color: white;
}
.CartItem input {
  width: 50px;
  height: 22px;
  margin-left: 5px;
}
.CartItemPrice {
  color: #ce6c47;
}
.CartItemDetail {
  padding-top: 3px;
  font-family: cursive;
  font-size: 14px;
}
.CartItem button {
  background-color: #5a1807;
  border: #5a1807;
  font-weight: 500;
}
.CartItem button:hover {
  background-color: #ce6c47;
  border: #ce6c47;
}
.CartItem button:focus {
  background-color: #5a1807 !important;
  border-color: #5a1807 !important;
}
